.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border: 1px solid navy;
    border-radius: 15px;
    box-shadow: 10px 5px 5px rgb(1, 15, 77);
    cursor: pointer;
    background-color: rgba(85, 107, 136, 0.384);
    margin-bottom: 30px;
    transition: 0.2s;
}

.card > hr {
    width: 100%;
}

.card:hover {
    background-color: rgba(32, 67, 112, 0.384); ;
}

.title {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 0px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.description {
    margin-top: 3px;
    text-align: center;
    width: 80%;
}

.arrow {
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;
}

.hr {
    height: 100%;
}

@media screen and (min-width: 719px) {
    .card {
        width: 60%;
    }
    
}