.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid gray;
  border-radius: 5px;
  text-decoration: none;
  color: inherit;
  background-color: rgba(64, 32, 245, 0.041);
  transition: 0.2s;
}

.container:hover {
    background-color: rgba(64, 32, 245, 0.219);
}

.calcName {
  text-align: left;
  margin: 15px;
}

@media screen and (min-width: 719px) {
    .container {
        width: 50%;
    }
}

